$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-rtwhite-path1: "\e900";
$icon-rtwhite-path2: "\e901";
$icon-rtwhite-path3: "\e902";
$icon-rtwhite-path4: "\e903";
$icon-rtwhite-path5: "\e904";

