$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-repairticket-path1: "\e900";
$icon-repairticket-path2: "\e901";
$icon-repairticket-path3: "\e902";
$icon-repairticket-path4: "\e903";
$icon-repairticket-path5: "\e904";

