$icomoon-font-family: "icomoonhmat" !default;
$icomoon-font-path: "fonts" !default;

$icon-hmat-path1: "\e900";
$icon-hmat-path2: "\e901";
$icon-hmat-path3: "\e902";
$icon-hmat-path4: "\e903";
$icon-hmat-path5: "\e904";

